.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.header-left {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    margin-right: 5px;
    color: #4c6baf;
}

.file-name {
    margin-left: 5px;
    color: #4c6baf;
    font-weight: bold;
    cursor: pointer;
}

.file-name-input {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}